.lmj-plant-list {
	list-style-type: none;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
}

.lmj-plant-item {
	border: solid 2px black;
	border-radius: 10px;
	height: 100%;
	width: 10em;
	margin: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.lmj-sales {
	position: absolute;
	right: 0em;
	top: 1em;
	font-weight: 500;
	color: white;
	padding: 0.4em 1em;
	background-color: #31b572;
}